{% extends 'articles/base_articles.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}


{% block content %}
{% if request.user.is_authenticated %}
    <style>
        .likes {
            cursor: pointer;    
        }
    </style>
{% endif %}
<div class="col" style="margin-top: 5rem">
    <div class="card" style="max-width: 1440px; margin: auto;">
        <div class="row no-gutters">
            <div class="col-md-2">
                <div class="card-header"></div>
                {% if article.img %}
                    <img src="{{ article.img.url }}" class="card-img-top" alt="pic">
                {% else %}
                    <img src="/static/images/def.png" class="card-img-top" alt="pic">
                {% endif %}
            </div>
            <div class="col-md-10">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ article.title }}
                    </h5>
                    <small class="text">
                        <i class="likes fa-solid fa-thumbs-up fa-lg text-primary">&nbsp&nbsp{{ states.likes }}&nbsp&nbsp</i>
                        <i class="fa-solid fa-eye fa-lg text-danger">&nbsp&nbsp{{ states.views }}&nbsp&nbsp</i> 
                        {{ article.pub_date|date:'d-m-Y  H:i:s' }}   
                    </small>
                    <p class="card-text">
                        {% autoescape off %}
                        {{ article.body|linebreaks }}
                        {% endautoescape %}
                    </p>
                </div>
                {% if request.user.is_authenticated and request.user.is_staff %}
                    <button class="btn btn-primary"><a href="{{ article.get_update_url }}" style="color:white; text-decoration: none;">Редактировать</a></button>
                    <button class="btn btn-danger"><a href="{{ article.get_delete_url }}" style="color:white; text-decoration: none;">Удалить</a></button>
                {% endif %}
                <div class="card-text">
                    <small class="text-muted">
                        {% for tag in article.tags.all %}
                            <i class="fa-solid fa-tags fa-lg"></i><a class="" href="{{ tag.get_absolute_url }}">&nbsp{{ tag.label }}&nbsp</a>
                        {% endfor %}
                    </small>
                </div>
                <div class="card-footer mt-3">
                    Комментарии:
                    {% if article.comments.all %}
                        {% for comment in page.object_list %}
                        <hr>
                        <hr>
                        <div class="row">
                            <div class="col-md-1">
                                {% if comment.author.accounts.avatar %}
                                <img src="{{ comment.author.accounts.avatar.url }}" alt="pic" class="card-img-top">
                                {% else %}
                                <img src="/static/images/account_icon.png" class="card-img-top" alt="pic">
                                {% endif %}
                            </div>
                            <div class="col-md-11">
                                <p><strong>{{ comment.author}}</strong></p>
                                <p>{{ comment.text}}</p>
                                <p>{{ comment.pub_date|date:'d-m-Y  H:i:s' }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        {{ user.username }} будь первым кто оставит комментарий
                    {% endif %}
                    <!-- Pagination comments -->
                    {% block pagination_comments %}
                        {% include 'articles/includes/pagination_template.html' %}
                    {% endblock %}
                    <!-- End pagination -->
                    <!-- Form comments -->
                    {% if request.user.is_authenticated %}
                    <form style="margin-top: 2rem;" method="post">
                        {% csrf_token %}
                        {% for field in form %}  
                        <div class="form-group col-ms-6">
                            {% if field.errors %}
                                <div class="alert alert-danger">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                
                            {{ field.label }}
                            {{ field }}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                    {% endif %}
                    <!-- End form -->
                </div>
            </div>
        </div>
    </div>
    <!-- Likes button -->
    {% if request.user.is_authenticated %}
        <script> 
            let button = document.querySelector('.likes')
            button.onclick = async function(event) {
                let body = new FormData();
                body.append('statistics','like');
                let request = await fetch("{% url 'article_detail_url' slug=article.slug %}", {
                    method: 'POST',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'}, 
                    body: body});  
                let response = await request.json();
                document.querySelector('.likes').innerHTML = '&nbsp&nbsp' + response['likes'] + '&nbsp&nbsp';
                        
            };
        </script>
    {% endif %}
    <!-- End  -->
</div>
{% endblock %}



