{% extends 'articles/base_articles.html' %}

{% block title %}
{{ tag.label }}
{% endblock %}

{% block content %}
<div class="row" style="margin-top: 5rem">
    <h2 class="col-md-5">Все посты с тегом '{{ tag.label|title }}':</h2>
    {% for article in tag.articles.all %}
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ article.image }}" class="card-img-top" alt="pic">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ article.title }} 
                        </h5>
                        <p class="card-text">
                            {{ article.body | truncatewords:20 }}
                        </p>
                        <a href="{{ article.get_absolute_url }}" class="btn btn-primary">Читать далее</a>
                    </div>
                    <div class="card-text">
                        <small class="text-muted">
                            {{ article.pub_date }}
                        </small>
                    </div>
                    <div class="card-text">
                        <small class="text-muted">
                            {% for state in article.state_set.all %}
                            <i class="fa-solid fa-thumbs-up fa-lg"></i> {{ state.likes }}
                            <i class="fa-solid fa-eye fa-lg"></i> {{ state.views }}
                            {% endfor %}   
                        </small>
                    </div>
                    <div class="card-text">
                        <small class="text-muted">
                            {% for tag in article.tags.all %}
                            <i class="fa-solid fa-tags fa-lg"></i> <a class="" href="{{ tag.get_absolute_url }}">{{ tag.label }} </a>
                            {% endfor %}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}